.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_row {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .title {
    order: 2;
    display: inline;
    position: relative;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 36px;
    font-family: Serif, "Big Caslon", sans-serif;
  }

  .user_menu {
    order: 3;
    position: relative;
    height: 110px;
  }

  .second_row {
    display: flex;
    justify-content: center;

    .review_box {
      margin-top: 50px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: black;
      height: 500px;
      width: 60%;
      border-radius: 10px;
      box-shadow: 0 0 20px lightgray;

      .params {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        align-items: center;

        .param_component {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }

        .headline {
          color: #eb9d31;
          font-size: 20px;
          text-decoration: underline;
        }

        input {
          background: none;
          border: 2px solid lightgray;
          border-radius: 5px;
          color: white;
          font-family: "Helvetica Neue", Halvetica, Arial, sans-serif;
          margin: 15px;
          font-size: 18px;
          text-align: center;
          width:150%;
        }

        textarea {
          background-color: transparent;
          border: 2px lightgray solid;
          font-family: "Helvetica Neue", Halvetica, Arial, sans-serif;
          font-size: 18px;
          color: white;
          width: 150%;
          height:200px;
        }

        ::placeholder {
          color: white;
          text-align: center;
        }

      }
    }
  }

  .button_row {
    display: flex;
    align-content: center;
    justify-content: center;

    button {
      position: relative;
      color: #fff;
      border-radius: 5px;
      border: 2px solid lightgray;
      font-size: 18px;
      width:150px;
      cursor: pointer;
      margin: 0 10px;

      &.submit {
        position: relative;
        background-image: linear-gradient(160deg, #028509 100%, #fff 0%);
      }

      &.cancel {
        background-image: linear-gradient(160deg, #8c2121 100%, #fff 0%);
      }

      &:hover {
        background-image: linear-gradient(160deg, rgba(72, 71, 71, 0.15) 100%, #ffffff 0%);
      }
    }

  }

.third_row {
  position: relative;
  top:300px;
}

