.layout {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  justify-content: space-between;
  align-content: center;
}


.top_row {
  display: flex;
  justify-content: space-between;
  align-content: center;

}

.title {
  order: 2;
  display: inline;
  position: relative;
  align-self: center;
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: Serif, "Big Caslon", sans-serif;
}

.user_menu {
  order: 3;
  position: relative;
  height: 110px;
}

.second_row {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form_box {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
  height: auto;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 20px lightgray;
}

.pod_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.params {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.params input {
  background: none;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: white;
  font-family: "Helvetica Neue", Halvetica, Arial, sans-serif;
  margin: 15px;
  font-size: 18px;
}

.action {
  position: relative;
  order: 2;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;

  button {
    border-radius: 5px;
    align-self: center;
    width: 120px;
    margin: 5px;
    border: 2px solid lightgray;
    font-size: 18px;
    cursor: pointer;
    height: 30px;

    &.submit {
      background-image: linear-gradient(160deg, #028509 100%, #fff 0%);
      color: #fff;
    }

    &.delete {
      background-image: linear-gradient(160deg, #8c2121 100%, #fff 0%);
      color: #fff;
    }
  }

}

input {
  width: 800px;
  height:50px;
}

input[value]{
  padding-left: 20px;
  font-size: 16px;
  text-align: left;
}

textarea {
  background-color: transparent;
  border: 2px lightgray solid;
  font-family: "Helvetica Neue", Halvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  width: 800px;
  height: 200px;
  margin: 1rem;
  padding-left: 20px;
}

.third_row {
  position: relative;
  bottom: 20px;
}

label {
  align-self: start;
  color: #eb9d38;
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
  position: relative;
  left:20px;
}

.bottom_row {
  display: flex;
  justify-content: space-around;
  align-content: space-around;


}

