.add_button {
  position: relative;
  width: 35px;
  height: 35px;
  background: white;
  cursor: pointer;
  border: 2px solid black;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1b3044;
    height: 50%;
    width: 4px;
  }

  &:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #1b3044;
    top: 50%;
    left: 50%;
  }


  &:hover {
    background-color: #eb9d38;
    transition: 0.2s;
    .text {
      visibility: visible;
    }
  }
  .text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the add review text */
    position: absolute;
    right: 35px;
    top: 5px;
  }
}