.elements {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  text-align: center;

  .single_element {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .star {
      font-size: 30px;
      color: goldenrod;
    }

    p {
      font-size: 14px;
    }


    .data {
      margin-left: 1em;
      color: #d9d9d9
    }

  }
}
