.reviews_details_box {
    display: flex;
    flex-direction: column;
    color: white;

    .avg_rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;

        .star {
            font-size: 50px;
            color:goldenrod;
        }

        .avg {
            color: #d9d9d9
        }
    }

    .first_row {
        display: flex;
        justify-content: space-between;
    }

    .title {
        font-size: 24px;
        color: white;
        margin-bottom: 2rem;
        font-family: Serif, "Big Caslon", sans-serif;
    }

    .add {
        position: relative;
        left:210px;
        bottom:20px;
    }

    .second_row {
        margin-top: 50px;
    }

}

