body {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    justify-content: space-between;
    align-content: center;
}

.top_row {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.navigation {
    order:3;
    position: relative;
    height: 110px;
}

.drop_down {
    position: relative;
}

.drop_down ul {
    position: absolute;
    background: black;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top:10px;
    padding-left: 0;
    width: 120px;
    height: 120px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.4s ease;
}

.drop_down a {
    color: white;
    text-decoration: none;
}

.drop_down li {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop_down li:hover {
    background-color: #939393;
}

.drop_down button {
    background: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.drop_down button:hover {
    background: #939393;
}

.drop_down button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.arrow {
    width: 0;
    height:0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
    margin: 2px;
}

.site_logo {
    order:1;
    height: 100px;
    position: relative;
}

.title {
    order:2;
    display: inline;
    position: relative;
    align-self: center;
    text-align: center;
    color: white;
    font-size:36px;
}


.form_box {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    height: 650px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px lightgray;
}


.pod_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.params {
    order:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;
    text-align: center;
}

.params input {
    background: none;
    border: 2px solid lightgray;
    border-radius: 5px;
    color: white;
    font-family: "Helvetica Neue", Halvetica, Arial, sans-serif;
    margin: 15px;
    font-size: 18px;
}

.action {
    position: relative;
    order:2;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

.delete_text {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the add review text */
    position: absolute;
    right:35px;
    top:5px;
}

.delete {
    height: 50px;
    width: 50px;
    background: transparent;
    position: relative;
    border: none;
    cursor: pointer;
    right:180px;
}

.delete:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 50px;
    color: #830707;
    text-align: center;
}

.delete:hover .delete_text{
    visibility: visible;

}

.submit {
    background-image: linear-gradient(160deg, #028509 100%, #fff 0%);
    color: #fff;
    border-radius: 5px;
    align-self: center;
    width:50%;
    margin: 5px;
    border: 2px solid lightgray;
    font-size: 18px;
    cursor: pointer;
}

input {
    text-align: center;
    width: 100%;
}

::placeholder{
    color: white;
}

textarea {
    background-color: transparent;
    border: 2px lightgray solid;
    font-family: "Helvetica Neue", Halvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    width: 100%;
    text-align: center;
    margin:1rem;
}


