.layout {

  .top_row {
    display: flex;
    justify-content: space-between;
    align-content: center;

    .title {
      order:2;
      display: inline;
      position: relative;
      align-self: center;
      text-align: center;
      color: white;
      font-size:48px;
      font-family: Serif, "Big Caslon", sans-serif;
    }

    .user_menu {
      order:3;
      position: relative;
      height: 110px;
    }

  }

  .second_row {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .add_box {
    margin-top:50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    height: auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 20px lightgray;

    .params {
      position: relative;
      align-self: center;
      text-align: center;

      input {
        background: none;
        border: 2px solid lightgray;
        border-radius: 5px;
        color: white;
        font-family: "Helvetica Neue", Halvetica, Arial, sans-serif;
        margin: 15px;
        font-size: 18px;
        text-align: center;
        width: 65%;

        &::placeholder{
          color:white;
        }
      }
      textarea {
        background-color: transparent;
        border: 2px lightgray solid;
        font-family: "Helvetica Neue", Halvetica, Arial, sans-serif;
        font-size: 18px;
        color: white;
        width: 64%;
        height: 150px;
        text-align: center;
        margin: 1rem;

        &::placeholder{
          color:white;
        }
      }
    }

    .submit {
      display: flex;
      justify-content: center;

      button {
        position: relative;
        background-image: linear-gradient(160deg, #028509 100%, #fff 0%);
        color: #fff;
        border-radius: 5px;
        margin: 5px;
        border: 2px solid lightgray;
        font-size: 18px;
        padding: 0 2rem;
        cursor:pointer;
        width: 200px;
      }

    }
  }
}