body {
    background-color: #354152;
    color: #5e7291;
}

.registration_box {
    display: flex;
    font-family: "Helvetica Neue";
}

.register {
    margin: 0 auto;
    box-shadow: 0 0 250px #000;
    text-align: center;
    padding: 4rem 2rem;
}

.site_logo {
    height:200px;
    width:400px;
}

h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

.sign_up {
    outline: 0;
    padding: .5rem 1rem;
}

.input_placeHolder {
    margin-bottom: 1rem;
    outline: 0;
    padding: .5rem 1rem;
    color: #7e8ba3;
}

input {
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
    width: 100%;
    height: 50px;
}

input.email {
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem 50%;
}

input.submit {
    background-image: linear-gradient(160deg,#eb9d31 100%, #fff 0%);
    color: #fff;
    margin-bottom: 6rem;

}

a {
    color: white;
}


